---

import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "首页";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>BlindLemming's Astro test</h2>
    <p>我是Blind Lemming，这是我的个人测试！</p>
    
    <ul>
        <li><a href="/post/post-1">文章1</a></li>
        <li><a href="/post/post-2">文章2</a></li>
    </ul>
    
</BaseLayout>