---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">首页</a>
		<a href="/about/">关于</a>
        <a href="/test/">测试</a>
		<h1>BlindLemming's Astro test</h1>
        <h1>我是Blind Lemming，这是我的个人测试！</h1>
		<Header/>
		<ul>
			<li><a href="/post/post-1">文章1</a></li>
			<li><a href="/post/post-2">文章2</a></li>
		</ul>
		<Footer/>
		<script>import "../scripts/menu.js";</script>
	</body>
</html>